In [22]:
import pandas as pd

In [23]:
f = pd.read_csv('ex.csv')

In [24]:
col = list(f.columns)

In [25]:
out = {}

In [26]:
for c in col:
    k = c.lower()
    val = f.iloc[0][c]
    out[k] = val

In [33]:
out

{'hr': 99.0,
 'o2sat': 100.0,
 'temp': 37.39,
 'sbp': 91.0,
 'map': 69.0,
 'dbp': 54.0,
 'resp': 15.0,
 'etco2': 32.95765667291276,
 'baseexcess': 3.0,
 'hco3': 27.0,
 'fio2': 0.4,
 'ph': 7.43,
 'paco2': 42.0,
 'sao2': 98.0,
 'ast': 58.0,
 'bun': 40.0,
 'alkalinephos': 379.0,
 'calcium': 9.6,
 'chloride': 98.0,
 'creatinine': 4.6,
 'bilirubin_direct': 1.836177257525115,
 'glucose': 100.0,
 'lactate': 1.2,
 'magnesium': 2.3,
 'phosphate': 3.9,
 'potassium': 4.5,
 'bilirubin_total': 1.8,
 'troponini': 8.290099451998875,
 'hct': 25.3,
 'hgb': 8.5,
 'ptt': 36.7,
 'wbc': 16.1,
 'fibrinogen': 287.3857059168132,
 'platelets': 340.0,
 'age': 69.73,
 'gender': 0.0,
 'hospadmtime': -874.73,
 'iculos': 21.0}

In [28]:
col

['Unnamed: 0', '153211']

In [32]:
out = {}
for i in range(38):
    k = f.iloc[i][0].lower()
    val = f.iloc[i][1]
    out[k] = val